# Dependency directories
node_modules

# macos
.DS_Store

# Clojure
.cpcache/
.nrepl-port

# CLJS
.shadow-cljs/

# E2E test temp files
structural_edit_target.clj

# Calva, lsp, kondo
.cache
output.calva-repl

# Portal
**/.portal/vs-code.edn
